/bin/
/build/
/out/
**/*.class
.project
.classpath
.settings/
.gitattributes
.idea/
.vscode/
*.iml
*.jar
*.war
*.ear
*.log
*.swp
*.swo
*.bak
*.tmp
*.properties
*.env
*.iws
*.iml
*.ipr
nbproject/
.DS_Store
Thumbs.db
*.log
*.ctxt
.mtj.tmp/
*.nar
